<div style="justify-content: center;">
    <h1><i class="fa-regular fa-circle-xmark"></i> Unable to create account.</h1>
    <h3>Your phone number <% phone %> has already registered to <% business %></h3>
</div>