<h2><i class="fa-solid fa-store"></i> Create Account</h2>
<p>Please fill up the following information to register your business.</p>
<form action="add" method="post">
    <label for="tbxBusiness">Business Name</label>
    <input type="text" name="tbxBusiness" id="tbxBusiness">

    <label for="tbxPhone">Phone Number (WhatsApp)</label>
    <input type="tel" name="tbxPhone" id="tbxPhone">

    <label for="tbxPassword">Password</label>
    <input type="password" name="tbxPassword" id="tbxPassword">

    <label for="tbxConfirmPassword">Confirm Password</label>
    <input type="password" name="tbxConfirmPassword" id="tbxConfirmPassword">

    <input type="submit" value="Register">
</form>

<p>Having trouble creating your account? <a href="/contact">Contact us</a></p>