<h2><i class="fa-regular fa-user"></i> Login</h2>
<p>Please provide your account credential.</p>
<form action="auth" method="post">

    <label for="tbxPhone">Phone Number (WhatsApp)</label>
    <input type="tel" name="tbxPhone" id="tbxPhone">

    <label for="tbxPassword">Password</label>
    <input type="password" name="tbxPassword" id="tbxPassword">

    <input type="submit" value="Login">
</form>

<p>Having trouble login to your account? <a href="/contact">Contact us</a></p>